.content__container
    .footer.content__main
        .content__row
            .footer__top.footer__container
                ul.footer__list.list.list--type_h
                    li.footer__list-element.list__list-element.list__list-element--type_h
<<<<<<< HEAD
                        a(href="./documents.html").footer__link.list__link Документы
                    li.footer__list-element.list__list-element.list__list-element--type_h
                        a(href="./contacts.html").footer__link.list__link Контакты
=======
                        a(href="/documents.html").footer__link.list__link Документы
                    li.footer__list-element.list__list-element.list__list-element--type_h
                        a(href="/contacts.html").footer__link.list__link Контакты
>>>>>>> 6a5764c0cd1329c5529ffbd270a0a540a9538a73
                    li.footer__list-element.list__list-element.list__list-element--type_h
                        a.footer__link.list__link Олимпиады
                    li.footer__list-element.list__list-element.list__list-element--type_h
                        a.footer__link.list__link Поддержка
            hr.footer__hr
            .footer__bottom.footer__container
                .footer__sponsors-list.sponsors
                    ul.footer__sponsors-list.list.list--type_h
                        li.footer__list-element.list__list-element.list__list-element--type_h
                            a.footer__link.list__link
                                img.footer__sponsor-img.sponsors__mon-img(src="img/logo_mon.png")
                        li.footer__list-element.list__list-element.list__list-element--type_h
                            a.footer__link.list__link
                                img.footer__sponsor-img.sponsors__vso-img(src="img/logo_vso.png")
                        li.footer__list-element.list__list-element.list__list-element--type_h
                            a.footer__link.list__link
                                img.footer__sponsor-img.sponsors__kemsu-img(src="img/logo_kemsu.png")
                .footer__information
                    p.footer__p Кемеровский Государственный Университет, 2018



