block variables
    -
        var mainMenu = {
            list: [
                {name:'Правила проведения',href:'/rules.html'},
                {name:'Все олимпиады',href:'mon-vso.ru'}
            ],
            direction: 'h',
            ulClass: 'main-menu__list-element'
        }

.content__container
    .content__row
        .header.content__main
            .logo
                .logo__container
                    .logo__img-container
                        img.logo__img(src="img/vso_v.png")
                    .logo__text-container
                        h3.logo__h3 Кемеровский государственный университет
                        h2.logo__h2
                            | Всероссийская студенческая олимпиада
                            br
                            | 2017 / 2018
            .main-menu.frame.frame--style_shadow
                .main-menu__container
                    ul.main-menu__main-list.list.list--type_h
                        li.main-menu__list-element.list__list-element.list__list-element--type_h
                            a(href="./rules.html").main-menu__link.list__link Правила проведения
                        li.main-menu__list-element.list__list-element.list__list-element--type_h
                            a(href="http://mon-vso.ru").main-menu__link.list__link Все олимпиады
                    ul.main-menu__user-control.list.list--type_h
                        if !login
                            li.main-menu__list-element.list__list-element.list__list-element--type_h
                                a(href="./signup.html").button.button--king-blue Принять участие
                            li.main-menu__list-element.list__list-element.list__list-element--type_h
                                a(href="./login.html").main-menu__link.list__link Войти
                        else
                            li.main-menu__list-element.list__list-element.list__list-element--type_h
                                a(href="./profile.html").main-menu__link.list__link.list__link--bold Александр Щетников
                            li.main-menu__list-element.list__list-element.list__list-element--type_h
                                a(href="./index.html").main-menu__link.list__link Выйти