@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url(../fonts/fonts.css);
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html, body {
  height: 100%; }

h1, h2, h3, h4 {
  font-family: "Museo Sans Cyrl"; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

.wrapper__header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

.wrapper__body {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 auto;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .content__container {
    width: 100%;
    margin-top: 40px; }
    .content__container--display_f {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .content__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    width: 1100px;
    margin: 0px auto 40px;
    padding: 0px 30px; }
    .content__row--display_i-b {
      display: inline-block;
      width: auto; }
  .content__main > * {
    margin-bottom: 40px; }
    .content__main > *:last-child {
      margin-bottom: 0px; }
  .content__main--bg-img {
    background-image: url("../img/bg.jpg");
    -webkit-background-size: 100% 100%;
            background-size: 100%; }
  .content__main--bc_black {
    background-color: rgba(0, 0, 0, 0.2); }
  .content__main--ta_center {
    text-align: center; }

.frame {
  padding: 30px;
  background: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .frame__header {
    font-size: 20px;
    color: #2B2B2B; }
    .frame__header--bold {
      font-size: 24px;
      color: #FFF;
      line-height: 35px;
      text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25); }
    .frame__header--light {
      font-weight: 300; }
    .frame__header--small {
      font-size: 12px;
      font-weight: 300;
      color: #5C5C5C; }
  .frame__body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
        -ms-flex: 1 0;
            flex: 1 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 30px; }
  .frame__block {
    width: 100%; }
  .frame__p {
    margin-bottom: 20px; }
    .frame__p:last-child {
      margin-bottom: 0px; }
  .frame--style_shadow {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1); }
  .frame--style_border {
    -webkit-border-radius: 0px;
            border-radius: 0px;
    border: 1px solid transparent;
    -webkit-border-image: -webkit-linear-gradient(top right, #ECECEC 0%, #DBDBDB 100%);
    -o-border-image: -o-linear-gradient(top right, #ECECEC 0%, #DBDBDB 100%);
       border-image: -webkit-gradient(linear, right top, left bottom, from(#ECECEC), to(#DBDBDB));
       border-image: linear-gradient(to bottom left, #ECECEC 0%, #DBDBDB 100%);
    border-image-slice: 1; }
  .frame--transparent {
    background: none;
    padding: 0px; }

.blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: -30px; }
  .blocks__wrap {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    padding-right: 30px;
    margin-bottom: 30px; }
    .blocks__wrap:nth-child(2n) {
      padding-right: 0px; }

.button {
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  line-height: 18px;
  -webkit-transition: 0.230s;
  -o-transition: 0.230s;
  transition: 0.230s;
  -webkit-transition-property: border-color,background,-webkit-box-shadow;
  transition-property: border-color,background,-webkit-box-shadow;
  -o-transition-property: border-color,box-shadow,background;
  transition-property: border-color,box-shadow,background;
  transition-property: border-color,box-shadow,background,-webkit-box-shadow; }
  .button:hover {
    cursor: pointer; }
  .button--king-blue, .button--king-blue-2:hover {
    background: #4169E1;
    color: #FFFFFF;
    border: 1px solid #214cce; }
    .button--king-blue:hover, .button--king-blue-2:hover {
      -webkit-box-shadow: 0px 0px 0px 2px rgba(65, 105, 225, 0.25), inset 0px -3px 0px rgba(43, 43, 43, 0.2);
              box-shadow: 0px 0px 0px 2px rgba(65, 105, 225, 0.25), inset 0px -3px 0px rgba(43, 43, 43, 0.2); }
    .button--king-blue-2 {
      background: #FFF;
      border: 1px solid #4169E1;
      color: #4169E1;
      -webkit-transition-property: border-color,background,color,-webkit-box-shadow;
      transition-property: border-color,background,color,-webkit-box-shadow;
      -o-transition-property: border-color,box-shadow,background,color;
      transition-property: border-color,box-shadow,background,color;
      transition-property: border-color,box-shadow,background,color,-webkit-box-shadow; }
  .button--grey {
    background: #FFFFFF;
    border: 1px solid rgba(92, 92, 92, 0.2);
    color: #5C5C5C; }
    .button--grey:hover {
      -webkit-box-shadow: 0px 0px 0px 2px rgba(92, 92, 92, 0.1), inset 0px -3px 0px rgba(43, 43, 43, 0.1);
              box-shadow: 0px 0px 0px 2px rgba(92, 92, 92, 0.1), inset 0px -3px 0px rgba(43, 43, 43, 0.1); }
  .button--white-blue {
    background: #FFFFFF;
    border: none;
    color: #4169E1; }
  .button--disabled {
    opacity: 0.5; }
  .button--green {
    background: #4CE53E;
    border: 1px solid #27bd19;
    color: #FFFFFF; }
    .button--green:hover {
      -webkit-box-shadow: 0px 0px 0px 2px rgba(76, 229, 62, 0.35), inset 0px -3px 0px rgba(43, 43, 43, 0.2);
              box-shadow: 0px 0px 0px 2px rgba(76, 229, 62, 0.35), inset 0px -3px 0px rgba(43, 43, 43, 0.2); }
  .button--red {
    background: #E63244;
    border: 1px solid #9f1321;
    color: #FFFFFF; }
    .button--red:hover {
      -webkit-box-shadow: 0px 0px 0px 2px rgba(230, 50, 68, 0.25), inset 0px -3px 0px rgba(43, 43, 43, 0.2);
              box-shadow: 0px 0px 0px 2px rgba(230, 50, 68, 0.25), inset 0px -3px 0px rgba(43, 43, 43, 0.2); }

.label {
  font-size: 13px;
  color: #5C5C5C; }
  .label__file {
    padding: 4px 10px;
    font-size: 14px;
    background: #f3f3f3;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    border: 1px solid #5e5e5e;
    color: #5C5C5C;
    -webkit-transition: 0.230s;
    -o-transition: 0.230s;
    transition: 0.230s;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color; }
    .label__file:hover {
      cursor: pointer;
      background: #dadada; }
  .label__filename {
    margin-left: 15px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5); }
  .label--style_radio {
    padding: 8px 0px;
    line-height: 20px;
    margin-right: 30px; }
  .label--f-z_12 {
    font-size: 12px; }

.input:not([type="radio"]):not([type="checkbox"]) {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #DDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 240px;
  width: 100%;
  padding: 8px 15px;
  -webkit-transition: 0.230s;
  -o-transition: 0.230s;
  transition: 0.230s;
  -webkit-transition-property: border-color,-webkit-box-shadow;
  transition-property: border-color,-webkit-box-shadow;
  -o-transition-property: border-color,box-shadow;
  transition-property: border-color,box-shadow;
  transition-property: border-color,box-shadow,-webkit-box-shadow; }
  .input:not([type="radio"]):not([type="checkbox"]):hover {
    border-color: rgba(65, 105, 225, 0.5); }
  .input:not([type="radio"]):not([type="checkbox"]):focus {
    border-color: #4169E1;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(65, 105, 225, 0.25);
            box-shadow: 0px 0px 0px 2px rgba(65, 105, 225, 0.25); }

.input--type_radio, .input--type_checkbox {
  margin-right: 5px; }

.input--hidden {
  display: none; }

.input--error {
  background: rgba(230, 50, 68, 0.8); }

.input--type_file {
  display: none; }

.link {
  color: #5C5C5C; }
  .link__icon {
    margin-right: 5px; }
  .link--m-l_15 {
    margin-left: 15px; }

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .list--type_h {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .list--type_v {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .list__list-element {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .list__list-element--type_h {
      margin-right: 30px; }
      .list__list-element--type_h:last-child {
        margin-right: 0px; }
  .list__link {
    line-height: 20px;
    margin: 30px 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .list__link:hover {
      color: #2B2B2B; }
    .list__link--bold {
      font-weight: bold; }

.logo__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.logo__img-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px; }

.logo__img {
  height: 80px; }

.logo__h2 {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #2B2B2B; }

.logo__h3 {
  font-size: 18px;
  font-weight: 300;
  color: #5C5C5C; }

.main-menu {
  padding: 0px 30px;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .main-menu__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-menu__link {
    margin: 20px 0px;
    font-size: 14px;
    color: #5C5C5C; }
  .main-menu__username {
    font-size: 14px;
    color: #2B2B2B;
    font-weight: bold; }

.footer {
  background: #F5F5F5; }

.footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__sponsor-img {
  mix-blend-mode: luminosity;
  max-height: 30px;
  -webkit-background-size: cover;
          background-size: cover;
  width: auto; }
  .footer__sponsor-img:hover {
    mix-blend-mode: normal; }

.footer__link {
  font-size: 12px;
  color: #5C5C5C; }

.footer__hr {
  height: 1px;
  width: 100%;
  background: #E3E3E3;
  border: none; }

.footer__p {
  font-size: 13px;
  color: #5C5C5C; }

.body > :first-child {
  margin-top: 0px; }

.sponsors__vso-img {
  height: 20px; }

.sponsors__kemsu-img {
  height: 20px;
  opacity: 0.5; }
  .sponsors__kemsu-img:hover {
    opacity: 1; }

.container {
  padding-bottom: 30px; }
  .container--p-t_30 {
    padding-top: 30px; }
  .container__header {
    margin: 30px 0px; }
  .container__h2 {
    font-size: 18px;
    color: #5C5C5C; }
    .container__h2--style_white {
      color: #FFF;
      text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25); }
  .container__body {
    margin: 0px 30px; }

.olymps__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }

.olymps__body {
  margin-top: 20px; }

.olymps__h3 {
  color: #E63244; }

.olymps__date {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #5C5C5C; }

.olymps__info {
  font-size: 14px;
  line-height: 20px;
  color: #2B2B2B; }

.olymps__participants {
  font-size: 13px;
  line-height: 18px;
  color: #5C5C5C; }
  .olymps__participants--bold {
    font-size: 14px;
    color: #FFF; }

.olymps__p {
  margin-top: 10px; }
  .olymps__p:first-child {
    margin-top: 0px; }

.olymps__user-icon {
  margin-right: 5px; }
  .olymps__user-icon--bold {
    font-size: 18px; }

.olymps__link {
  margin-top: 20px; }

.olymps__row > * {
  margin-bottom: 30px; }
  .olymps__row > *:last-child {
    margin-bottom: 0px; }

.documents__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-transition: 0.230s;
  -o-transition: 0.230s;
  transition: 0.230s;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  -o-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform; }
  .documents__elem:hover {
    -webkit-transform: translate(2px, -2px);
        -ms-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1); }
    .documents__elem:hover * {
      color: black; }

.documents__ext {
  font-size: 36px;
  color: #5C5C5C;
  margin-right: 15px; }

.documents__name {
  font-size: 14px;
  line-height: 20px;
  color: #5C5C5C; }

.contacts__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; }

.contacts__name {
  font-weight: bold;
  color: #5C5C5C; }

.contacts__desc {
  font-size: 12px;
  color: #2B2B2B; }

.contacts__bottom {
  margin-top: 20px; }

.contacts__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #5C5C5C;
  line-height: 18px;
  margin-bottom: 5px; }
  .contacts__item:last-child {
    margin-bottom: 0px; }

.contacts__icon {
  font-size: 14px;
  line-height: 18px;
  margin-right: 5px; }

.auth {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px; }

.form__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px; }
  .form__container:last-child {
    margin-bottom: 0px; }
  .form__container--style_columns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }

.form__col {
  margin-right: 30px;
  width: 240px; }
  .form__col:last-child {
    margin-right: 0px; }

.form__link {
  font-size: 12px; }

.form__input-label {
  display: block;
  margin-bottom: 10px; }

.form__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.form__input-wrap {
  margin-bottom: 20px; }
  .form__input-wrap:last-child {
    margin-bottom: 0px; }
  .form__input-wrap--file {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden; }

.form__offer {
  margin-bottom: 30px; }

.form__footer {
  text-align: center;
  margin-top: 30px; }

.olymp-data-frame__header {
  font-size: 18px;
  color: #2B2B2B; }
  .olymp-data-frame__header--white {
    color: #FFF; }

.olymp-data-frame__header-icon {
  margin-right: 5px; }
  .olymp-data-frame__header-icon--gold {
    color: gold; }

.olymp-data-frame__p {
  font-size: 14px;
  margin-bottom: 15px; }
  .olymp-data-frame__p:last-child {
    margin-bottom: 0px; }
  .olymp-data-frame__p--white {
    color: #FFFFFF; }
  .olymp-data-frame__p--bold {
    font-size: 24px;
    font-weight: bold; }
  .olymp-data-frame__p--gold {
    color: gold; }

.olymp-data-frame__rating-number {
  font-style: normal;
  font-family: inherit;
  font-weight: inherit;
  color: gold; }

.olymp-data-frame__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10px; }

.olymp-data-frame--multicolor {
  background: -webkit-linear-gradient(23.04deg, #4169E1 -2.81%, #E63244 102.98%);
  background: -o-linear-gradient(23.04deg, #4169E1 -2.81%, #E63244 102.98%);
  background: linear-gradient(66.96deg, #4169E1 -2.81%, #E63244 102.98%);
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1); }

.confirm {
  max-width: 505px; }
  .confirm__control-panel {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.test__progress-bar {
  width: 100%;
  height: 5px;
  background: #DDD;
  margin: 10px 0px 20px; }

.test__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.test__current-progress {
  width: 50%;
  height: 100%;
  background: #4CE53E; }

.test__container {
  margin-bottom: 30px; }
  .test__container:last-child {
    margin-bottom: 0px; }

.test__time {
  font-family: inherit;
  font-weight: inherit; }

.test-frame__question-body {
  margin-top: 10px; }

.test-frame__answers-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -20px; }

.test-frame__q-assoc-body {
  width: 100%;
  margin: 20px 0px -20px; }

.answer {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #DDD;
  margin-bottom: 20px;
  -webkit-transition: 0.230s;
  -o-transition: 0.230s;
  transition: 0.230s;
  -webkit-transition-property: border,-webkit-box-shadow;
  transition-property: border,-webkit-box-shadow;
  -o-transition-property: border,box-shadow;
  transition-property: border,box-shadow;
  transition-property: border,box-shadow,-webkit-box-shadow; }
  .answer__p {
    padding: 15px 20px; }
  .answer__input--text {
    width: 100% !important; }
  .answer__input--number {
    padding: 5px !important;
    width: 50px !important;
    margin: 10px 0px 10px 20px;
    text-align: center; }
  .answer__img {
    margin: 15px;
    height: 100px;
    max-width: 180px;
    -webkit-background-size: cover;
            background-size: cover; }
  .answer > * {
    cursor: pointer; }
  .answer:hover {
    cursor: pointer;
    border: 1px solid #4169E1; }
  .answer--selected {
    border: 1px solid #4169E1;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(65, 105, 225, 0.25);
            box-shadow: 0px 0px 0px 2px rgba(65, 105, 225, 0.25);
    background: rgba(65, 105, 225, 0.05); }
  .answer--border-none {
    border: none; }
    .answer--border-none:hover {
      border: none; }
  .answer--hover-none:hover {
    border-color: #DDD; }

.answer-assoc {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #DDD;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .answer-assoc__number {
    font-family: "Museo Sans Cyrl";
    font-weight: 900;
    font-size: 24px;
    margin: 12px 20px;
    color: #2B2B2B; }

.notify {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .notify__message {
    font-size: 12px;
    margin-bottom: 10px; }
    .notify__message:last-child {
      margin-bottom: 0px; }
  .notify__header {
    text-align: center;
    margin-bottom: 15px; }
  .notify--error {
    color: #E63244;
    background: rgba(230, 50, 68, 0.1);
    border: 1px solid rgba(230, 50, 68, 0.2); }
    .notify--error:before {
      content: '\f06a';
      background: #FFF;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      display: inline-block;
      font-family: "Font Awesome 5 Free Solid";
      position: absolute;
      top: -8px;
      left: -8px;
      text-shadow: 0px 0px 20px rgba(230, 50, 68, 0.5); }
  .notify--successful {
    color: #197a10;
    background: rgba(76, 229, 62, 0.1);
    border: 1px solid rgba(76, 229, 62, 0.5); }
    .notify--successful:before {
      content: '\f058';
      background: #FFF;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      display: inline-block;
      font-family: "Font Awesome 5 Free Solid";
      color: #4CE53E;
      position: absolute;
      top: -8px;
      left: -8px;
      text-shadow: 0px 0px 20px rgba(76, 229, 62, 0.5); }
  .notify--background {
    background: #FFF; }
  .notify--mt_20 {
    margin-top: 20px; }

.p {
  font-size: 14px;
  color: #2B2B2B; }
  .p--bold {
    font-weight: bold; }
  .p--small {
    font-size: 12px;
    color: #5C5C5C; }

.g-recaptcha {
  -webkit-transform: scale(0.79);
      -ms-transform: scale(0.79);
          transform: scale(0.79);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0; }
  .g-recaptcha__wrapper {
    max-width: 240px;
    max-height: 65px; }
