.button
  font-size: 14px
  padding: 8px 15px
  border-radius: 5px
  line-height: 18px
  &--king-blue
    background: $blue
    color: #FFFFFF
    border: 1px solid darken($blue,10)
    &:hover
      box-shadow: 0px 0px 0px 2px transparentize($blue,0.75)