extends layouts/admin
include components/answers
block variables
    -
        var title = "Тестирование"
        var q_type_id = 5
    //1 radio
    //2 checkbox
    //3 string
    //4 position
    //5 refer
block content
    .content__container
        .content__main
            .content__row
                .container__header
                    h2.container__h2 Управление вопросами
                .container__body
                    ul.list.list--type_v.admin-frame__list
                        li.list__list-element.list__list-element--type_h.admin-frame__list-element
                            a.admin-frame__list-link(href="./admin/test/olymp-q/1") Вопросы по История
                        li.list__list-element.list__list-element--type_h.admin-frame__list-element
                            a.admin-frame__list-link(href="./admin/test/olymp-q/1") Вопросы по АКС
                        li.list__list-element.list__list-element--type_h.admin-frame__list-element
                            a.admin-frame__list-link(href="./admin/test/olymp-q/1") Вопросы по Физика
                        li.list__list-element.list__list-element--type_h.admin-frame__list-element
                            a.admin-frame__list-link(href="./admin_q-add.html") Добавить вопрос