extends layouts/auth

block variables
    -
        var title = "Авторизация"
        var loginFormList = [
                {label:"Электронная почта", type:"email",name:"user['email']",id:"fEmail"},
                {label:"Пароль", type:"password",name:"user['password']",id:"fPassword"}
            ]
        var loginError = true

block content
    .content__container
        .content__main.content__main--ta_center
            .content__row.content__row--display_i-b
                .container__body
                    .auth.frame.frame--style_shadow
                        h2.auth__header.frame__header Вход для участника
                        .frame__body
                            form.auth__form.form
                                .form__body
                                    .form__container
                                        .form__col
                                            +formList(loginFormList)
                                            if loginError
                                                .notify.notify--error
                                                    p.notify__message Неправильный логин или пароль. Повторите еще раз
                                    .form__container.g-recaptcha__wrapper
                                        .g-recaptcha(data-sitekey="6Ldau0EUAAAAAO0qxH3Q5crqRkb3YG8OytO68en1")
                                    .form__container
                                        .form__input-wrap.form__input-wrap--style_h
                                            a(href="./index_login.html").button.button--king-blue Войти
                                            a(href="./reset.html").form__link.link.link--m-l_15 Забыли пароль?
                                .form__footer
                                    a(href="./index.html").form__link.form__home-link.link
                                        i.fas.fa-home.link__icon
                                        | Вернуться на главную




