extends layouts/main

block variables
    - var login = true
    - var participant = true
    - var tested = false
    - var title = "Конкурс научно-исследовательских работ “Физика перспективных материалов”"
    - var type_id = 2
block content
    .content__container.content__main--bg-img
        .content__main.content__main--bc_black
            .content__row.container.container--p-t_30
                .container__body
                    .olymps.blocks
                        .olymps__row.blocks__wrap
                            .olymps__wrap
                                .olymps__elem.frame.frame--transparent
                                    h2.frame__header.frame__header--bold
                                        | Конкурс научно-исследовательских работ “Физика перспективных материалов”
                                    .frame__body
                                        p.olymps__participants.olymps__participants--bold
                                            i.fas.fa-user.olymps__user-icon.olymps__user-icon--bold
                                            | Участников:
                                            span= ' 1 750'
                                        if !participant
                                            button.olymps__link.button.button--king-blue Участвовать
                                        else
                                            button.olymps__link.button.button--king-blue-2 Вы участвуете
                        .olymps__row.blocks__wrap
                            .olymps__wrap
                                .frame.frame--style_shadow.olymp-data-frame.olymp-data-frame--multicolor
                                    h2.frame__header.olymp-data-frame__header.olymp-data-frame__header--white
                                        i.fas.fa-star.olymp-data-frame__header-icon.olymp-data-frame__header-icon--gold
                                        | Ваш результат:
                                    .frame__body.olymp-data-frame__body
                                        if type_id == 1
                                            if !tested
                                                p.olymp-data-frame__p.olymp-data-frame__p--white Вы еще не прошли тестирование
                                                if !participant
                                                    button(disabled="disabled").button.button--white-blue.olymp-data-frame__button.button--disabled Начать тестирование
                                                else
                                                    a(href="./test_start.html").button.button--white-blue.olymp-data-frame__button Начать тестирование
                                            else
                                                p.olymp-data-frame__p.olymp-data-frame__p--white
                                                    span.olymp-data-frame__p--bold.olymp-data-frame__p--gold= "30 "
                                                    | Баллов
                                        else if type_id == 2
                                            p.olymp-data-frame__p.olymp-data-frame__p--white Вы еще не отправили научную работу
                                            p.p--small.olymp-data-frame__p.olymp-data-frame__allow-ext Допустимые расширения файлов: doc, docx, pdf
                                            form.olymp-data-frame__form
                                                .form__input-wrap.form__input-wrap--style_h.form__input-wrap--file
                                                    label(for="fApplication").olymp-data-frame__label.label__file Загрузить заявку
                                                    input(type="file",id="fApplication",required).input--type_file
                                                    span.label__filename Выберите файл
                                                .form__input-wrap.form__input-wrap--style_h.form__input-wrap--file
                                                    label(for="fWork").olymp-data-frame__label.label__file Загрузить научную работу
                                                    input(type="file",id="fWork",required).input--type_file
                                                    span.label__filename Выберите_файл_asd_as_dasdasd_asd_dasd_asd_asd_asds_asdas_a
                                                button.button.button--king-blue-2 Отправить
                                            .notify.notify--error.notify--background.notify--mt_20
                                                p.notify__message Файл C3850-ROOT--Dec-28-01-56-46-6 имеет недопустимое расширение
                                                p.notify__message Файл asd.txt имеет недопустимое расширение
                            .olymps__wrap
                                .frame.frame--style_shadow.olymp-data-frame
                                    h2.frame__header.olymp-data-frame__header
                                        i.fas.fa-calendar-alt.olymp-data-frame__header-icon
                                        | Дата проведения:
                                    .frame__body.olymp-data-frame__body
                                        p.olymp-data-frame__p Отборочный этап: 10 Января - 31 Января
                                        p.olymp-data-frame__p Основной этап: 16 Февраля - 17 Февраля