extends layouts/main

block variables
    - var login = true
    - var participant = true
    - var tested = false
    - var title = "Конкурс научно-исследовательских работ “Физика перспективных материалов”"
    - var type_id = 1
block content
    .content__container.content__main--bg-img
        .content__main.content__main--bc_black
            .content__row.container.container--p-t_30
                .container__body
                    .olymps.blocks
                        .olymps__row.blocks__wrap
                            .olymps__wrap
                                .olymps__elem.frame.frame--transparent
                                    h2.frame__header.frame__header--bold
                                        | Конкурс научно-исследовательских работ “Физика перспективных материалов”
                                    .frame__body
                                        p.olymps__participants.olymps__participants--bold
                                            i.fas.fa-user.olymps__user-icon.olymps__user-icon--bold
                                            | Участников:
                                            span= ' 1 750'
                                        if !participant
                                            button.olymps__link.button.button--king-blue Участвовать
                                        else
                                            button.olymps__link.button.button--king-blue-2 Вы участвуете
                        .olymps__row.blocks__wrap
                            .olymps__wrap
                                .frame.frame--style_shadow.olymp-data-frame.olymp-data-frame--multicolor
                                    h2.frame__header.olymp-data-frame__header.olymp-data-frame__header--white
                                        i.fas.fa-star.olymp-data-frame__header-icon.olymp-data-frame__header-icon--gold
                                        | Ваш результат:
                                    .frame__body.olymp-data-frame__body
                                        if type_id == 1
                                            if !tested
                                                p.olymp-data-frame__p.olymp-data-frame__p--white Вы еще не прошли тестирование
                                                if !participant
                                                    button(disabled="disabled").button.button--white-blue.olymp-data-frame__button.button--disabled Начать тестирование
                                                else
                                                    a(href="./test_start.html").button.button--white-blue.olymp-data-frame__button Начать тестирование
                                            else
                                                p.olymp-data-frame__p.olymp-data-frame__p--white
                                                    span.olymp-data-frame__p--bold.olymp-data-frame__p--gold= "30 "
                                                    | Баллов
                                        else if type_id == 2
                                            p.olymp-data-frame__p.olymp-data-frame__p--white Вы еще не отправили научную работу
                                            p.p--small.olymp-data-frame__p.olymp-data-frame__allow-ext Допустимые расширения файлов: doc, docx, pdf
                                            form.olymp-data-frame__form
                                                .form__input-wrap.form__input-wrap--style_h.form__input-wrap--file
                                                    label(for="fApplication").olymp-data-frame__label.label__file Загрузить заявку
                                                    input(type="file",id="fApplication",required).input--type_file
                                                    span.label__filename Выберите файл
                                                .form__input-wrap.form__input-wrap--style_h.form__input-wrap--file
                                                    label(for="fWork").olymp-data-frame__label.label__file Загрузить научную работу
                                                    input(type="file",id="fWork",required).input--type_file
                                                    span.label__filename Выберите_файл_asd_as_dasdasd_asd_dasd_asd_asd_asds_asdas_a
                                                button.button.button--king-blue-2 Отправить
                                            //.notify.notify--error.notify--background.notify--mt_20
                                                p.notify__message Файл C3850-ROOT--Dec-28-01-56-46-6 имеет недопустимое расширение
                                                p.notify__message Файл asd.txt имеет недопустимое расширение
                            .olymps__wrap
                                .frame.frame--style_shadow.olymp-data-frame
                                    h2.frame__header.olymp-data-frame__header
                                        i.fas.fa-calendar-alt.olymp-data-frame__header-icon
                                        | Дата проведения:
                                    .frame__body.olymp-data-frame__body
                                        p.olymp-data-frame__p Отборочный этап: 10 Января - 31 Января
                                        p.olymp-data-frame__p Основной этап: 16 Февраля - 17 Февраля
                            .olymps__wrap
                                .frame.frame--style_shadow.olymp-data-frame
                                    h2.frame__header.olymp-data-frame__header
                                        i.fas.fa-archive.olymp-data-frame__header-icon
                                        | Дополнительные материалы:
                                    .frame__body.olymp-data-frame__body
                                        h4.list__header Источники по операционной системе Linux:
                                        ul.list.list--type_v.list--style_2
                                            li.olymp-data-frame__p.fz-13 В.Костромин, "Linux для пользователя"  
                                                a(href="http://www.linuxcenter.ru/lib/books/kostromin/_index").list__link--style_2 [http://www.linuxcenter.ru/lib/books/kostromin/_index]
                                            li.olymp-data-frame__p.fz-13 «Учебник по Linux»  
                                                a(href="http://rus-linux.net/MyLDP/BOOKS/inst-322/node5.htm").list__link--style_2 [http://rus-linux.net/MyLDP/BOOKS/inst-322/node5.htm]
                                            li.olymp-data-frame__p.fz-13 Д.Н. Колисниченко, Питер В. Аллен «Linux: Полное руководство»
                                                a(href="http://soft.sibnet.ru/soft/28173-linux-polnoe-rukovodstvo/download/").list__link--style_2 [http://soft.sibnet.ru/soft/28173-linux-polnoe-rukovodstvo/download/]
                                        h4.list__header Источники по сетевому программированию и библиотеке LibPCAP:
                                        ul.list.list--type_v.list--style_2
                                            li.olymp-data-frame__p.fz-13 Tim Carstens «Programming with PCAP»
                                                a(href="http://www.tcpdump.org/pcap.html").list__link--style_2 [http://www.tcpdump.org/pcap.html]
                                                
                                            li.olymp-data-frame__p.fz-13 PCAP man pages
                                                a(href="https://www.tcpdump.org/manpages/").list__link--style_2 [https://www.tcpdump.org/manpages/]
                                                
                                            li.olymp-data-frame__p.fz-13 Захват пакетов при помощи библиотеки libpcap
                                                a(href="http://rus-linux.net/MyLDP/algol/libpcap.html").list__link--style_2 [http://rus-linux.net/MyLDP/algol/libpcap.html]
                                                
                                            li.olymp-data-frame__p.fz-13 Перехват сетевого трафика при помощи библиотеки libpcap
                                                a(href="http://eax.me/libpcap/").list__link--style_2 [http://eax.me/libpcap/]
                                                
                                            li.olymp-data-frame__p.fz-13 С++. Сетевое программирование
                                                a(href="http://www.vr-online.ru/content/s-setevoe-programmirovanie-chast-1-3999").list__link--style_2 [http://www.vr-online.ru/content/s-setevoe-programmirovanie-chast-1-3999]
                                                
                                            li.olymp-data-frame__p.fz-13 Федорук В.Г. Сетевое программирование в ОС UNIX
                                                a(href="http://www.ict.edu.ru/ft/004860/net-unix.pdf").list__link--style_2 [http://www.ict.edu.ru/ft/004860/net-unix.pdf]