extends layouts/main

block variables
    - var title = "Пользовательское соглашение"
block content
    .content__container
        .content__main
            .content__row.container.document
                .container__header.document__header
                    h2.container__h2 Результаты отборочных этапов
                .container__body
                    .document__body
                        ul.
                        a.p.p.document__p История
                        a.p.p.document__p История
                        a.p.p.document__p История
                        p.p.document__p 2.	Возможность прохождения заочного онлайн тура по всем олимпиадам открывается 1-го февраля 2018 года и завершается 12 февраля 2018 года
                        p.p.document__p 3.	13-14 февраля подводятся итоги заочного тура и всем участникам, прошедшим успешно заочный тур, высылаются приглашения на 2-й очный этап олимпиады. Итоги заочного тура также будут размещены на сайте vso.kemsu.ru
                        p.p.document__p 4.	Все участники прошедшие в очный тур должны будут иметь при себе следующий комплект документов: студенческий билет, паспорт, справку с места учебы, заверенную подписью руководителем образовательной организации высшего образования и печатью, копию первого листа Лицензии на право ведения образовательной деятельности образовательной организации высшего образования, в которой обучается, личное заявление о согласии на обработку его персональных данных
                        
