extends layouts/test
include components/answers
block variables
    -
        var title = "Тестирование"
        var q_type_id = 5
        //1 radio
        //2 checkbox
        //3 string
        //4 position
        //5 refer
block content
    .content__container
        .content__main
            .content__row
                .container__body
                    .test.blocks
                        .blocks__wrap
                            .test__container
                                .test-frame.test-frame__question.frame.frame--style_shadow
                                    .test__info
                                        p.frame__header.frame__header--small Вопрос №7
                                        p.frame__header.frame__header--small Ответов дано: 5 (Осталось: 5)
                                    .test__progress-bar
                                        .test__current-progress
                                    .test-frame__question-body.frame__body
                                        if q_type_id == 5
                                            p.p Вопрос сопоставление
                                            - var list = ['car1.png','car2.jpg','car3.jpg','car4.png']
                                            - var i = 1
                                            .test-frame__q-assoc-body
                                                each item in list
                                                    .answer-assoc.answer--hover-none
                                                        span.answer-assoc__number= i
                                                        img(src="img/" + list[i - 1]).answer__img
                                                        //p.p.answer__p= list[i - 1]
                                                        - i++
                                        else
                                            p.p Какая команда позволяет сделать общим сетевым ресурсом с именем MyCommonName локальную папку D:\USERS\MyFolder?
                            .test__container
                                .test-frame.test-frame__answers.frame.frame--style_border
                                    h3.frame__header
                                        i.fas.fa-clock.olymp-data-frame__header-icon
                                        | Осталось:
                                        span(data-min=15,data-sec=00).test__time#time= " 15:00"
                                    .frame__body
                                        button.button.button--red Завершить
                        .blocks__wrap
                            .test__container
                                .test-frame.test-frame__answers.frame.frame--style_shadow
                                    h3.frame__header Ваш ответ :
                                    .frame__body
                                        .test-frame__answers-body
                                            +renderAnswer(q_type_id)
                                        .frame__block.confirm__control-panel
                                            a(href="./test.html").button.button--king-blue Ответить
                                            a(href="./index_login.html").button.button--grey Пропустить